*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #24272E0;
}

header {
	background: black;
	padding:35px;
	text-align: center;
	color: white;
	font-size:20px;
}

.scoreSheet {
	margin: 20px auto;
	border: 3px solid black;
	border-radius:4px;
	width:150px;
	color:black;
	font-size:46px;
	text-align:center;
	padding:15px 20px;
	position:relative;
}

.badges {
	background-color: grey;
	color:white;
	font-size:14px;
	padding:2px 10px;
	border-radius:50%;
}

#userTeam {
	position:absolute;
	top:0px;
	left:0;
}

#computerTeam{
	position:absolute;
	top:0px;
	right:0;
}

.title{
	text-align:center;
	font-size:30px;
	font-weight:bolder;
	padding:10px;
}

.choicesUpper, .sheet{
	display:flex;
	justify-content: center;
	align-items: center;

}
.choice, .scoresheet{
	display:inline-block;
	border-radius: 50%;
	border:10px solid red;

}
#result{
	text-align:center;
	padding-top:20px;
	font-weight:bolder;

}